.body {
  background-color: #191210;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mid {
  width: 100px;
  height: 100px;
  background-color: #84271C;
  border-radius: 50%;
  border: 25px solid #191210;
  box-shadow: 0 0 0 20px #ECA03D;
}

.semi-cir {
  width: 100px;
  height: 50px;
  background-color: #191210;
}

.left {
  border-radius: 0 0 60px 60px;
  transform: translate(0, 25px);
  border: 20px solid #ECA03D;
  border-top: 0;
}

.right {
  border-radius: 60px 60px 0 0;
  transform: translate(0, -25px);
  border: 20px solid #ECA03D;
  border-bottom: 0;
}