.body {
  background-color: #0B2429;
  display: flex;
}

div {
  width: 150px;
  height: 150px;
  background: #F3AC3C;
  border-radius: 100px 0 100px 0;
  margin: auto;
  transform: translate(50px, 0);
  box-shadow: -50px 0 0 0 #998235, -100px 0 0 0 #1A4341;
}